html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
    font-family: sans-serif;
}

.header {
    color: blue;
}
.seccion{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.seccion>div{
    width: 48%;
}

.seccion>div:nth-child(n+3){
    margin-top: 20px;
}

.cabecera{background-color: #00A5C3;}
.cabecera-titulo{
    color: white;
    font-weight: none;
    padding: 15px;
    font-size: 18px;
    letter-spacing: 0.04rem;
}

.resultados{
	/* height: 200px; */
	background-color: #f1f1f1;
	flex: 1;
	position: relative;
}
.resultados-text{
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0);
	font-size: 28px;
	font-family: "lato";
	text-align: right;
	padding: 0 10px;
	position: absolute;
	border: 0;
}

.botones{display: flex;flex-flow: row wrap;align-items: center;text-align: center;font-size: 43px;font-family: "lato";}

.botones>div{
	width: 25%;
	/* font-size: 29px; */
	/* margin: 15; */
	/* padding: 12px 0; */
	/* border: 1px solid red; */
	box-shadow: 2px 2px 0 0 #dfe3e4;
	/* background-color: red; */
}
.container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.botones a{
	text-decoration: none;
	color: #333;
	/* width: 100%; */
	/* height: 100%; */
	/* display: inherit; */
	position: relative;
	display: block;
	padding: 12px 0;
	transition: 1s;
}
.botones a:hover{
	background-color: #eee;
}